[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "site/site/themes/paper"]
	path = site/site/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
